@import "tailwindcss";


@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgba(122, 0, 255, 0.7); 
    font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
  }
}


.banner {
  background-image: url("/Banner/bgHeader.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  

  width: 100%;
  

  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 768px) {
  .banner {   
    min-height: 600px; 
    background-attachment: scroll; 
  }
}